name: Test Pipeline

on:
  push:
    branches:
    - main
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Environment Variables Setup
      run: printenv